extends layout

block content
    div(class="top-bar")
        a(class="log-out-btn" href="../login")
         i(class="fa fa-sign-out")
    div(class="page-container")
        a(href="#" class="menu-option" id="bolus-entry-btn") Bolus Entry
        a(href="#" class="menu-option" id="basal-entry-btn") Basal Entry
        a(href="#" class="menu-option" id="reading-entry-btn") Reading Entry


    