body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.login-form
{
  text-align: center;
  margin: auto;
}
.form-fields
{
  display: block;
  margin:20px 33%; 
  width: 33%;
}
a
{
  color: #00B7FF;
}
